[phases.setup]
nixPkgs = [
    "python311",
    "python311Packages.pip",
    "python311Packages.virtualenv",
    "ffmpeg-full",
    "pkg-config",
    "libsndfile"
]

[phases.install]
cmds = [
    "python -m venv /opt/venv",
    "export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/root/.nix-profile/lib/pkgconfig",
    ". /opt/venv/bin/activate && pip install -r requirements-railway.txt"
]

[start]
cmd = ". /opt/venv/bin/activate && python optimized_main.py"
